In [1]:
import pandas as pd
import numpy as np

In [3]:
speed_flow = pd.read_csv("data/I88N/flow_speed1.csv")

In [4]:
occ = pd.read_csv("data/I88N/occ1.csv")

In [5]:
stations = pd.read_csv("data/I88N-processed/stations-i880n.csv")

In [6]:
speed_flow.head(1)

,Station ID,5 Minutes,Flow (Veh/5 Minutes),Speed (mph),# Lane Points,% Observed
0,408907,01/01/2017 00:00,95.0,68.8,3,0.0

In [7]:
occ.head(1)

   Station ID         5 Minutes  Occupancy (%)  # Lane Points  % Observed
0      408907  01/01/2017 00:00            2.1              3         0.0

In [11]:
stations = stations.drop(columns=["Unnamed: 0"])

In [13]:
stations.to_csv("data/I88N/stations-i880n.csv")

In [14]:
stations.head(1)

,Fwy,District,County,City,CA PM,Abs PM,Length,ID,Name,Lanes,Type,Sensor Type,HOV,MS ID,IRM
0,I880-N,4,Santa Clara,NaN,0.31,0.31,0.425,408907,SB/NB 280 rm-n-fly/diag,3,Mainline,loops,No,DT596,L3-N-37-880-00031

In [2]:
incidents = pd.read_csv("data/I88N/otherIncident.csv")

In [3]:
incidents.head(1)

,Incident_Id,Start_Time,Duration_(mins),Freeway,CA_PM,Abs_PM,Source,AREA,LOCATION,DESCRIPTION
0,16917059,1/1/17 0:24,3,I880-N,0.4,0.4,CHP,San Jose,I880 N / I280 S I880 N Con,1183-Trfc Collision-Unkn Inj